*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 1px;
}
.app{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 10px;
    padding: 30px;
    margin: 10% auto 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header h1{
    color: #0a2351;
    margin-right: 10px;
}
.header img{
    width: 40px;
    height: 40px;
}
.main{
    width: 100%;
}
.main input{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 15px;
    border: none;
    background: #edeef0;
    border-radius: 30px;
    outline: none;
}
.main button{
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    color: #0a2351;
    border: none;
    padding: 16px 46px;
    margin-left: -54px;
    margin-bottom: 30px;
    border-radius: 40px;
    font-size: 18px;
}
.main button:hover{
    background-image: linear-gradient(to top, #df89b5 0%, #d6e5fa 100%);
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column;
}
ul li{
    color: #0a2351;
    padding: 13px;
    list-style: none;
    position: relative;
    margin-left: 33px;
    margin-right: 10px;
    cursor: pointer;
}
ul li::before{
    position: absolute;
    content: "";
    background-image: url("img/unchekced.png");
    background-size: cover;
    width: 30px;
    height: 29px;
    top: 8px;
    left: -26px;
}
.checked::before{
    background-image: url("img/accept.png");
}
.checked{
    text-decoration: line-through;
    color: #555555;
}
span{
    color: #58111A;
    position: absolute;
    top: 8px;
    right: 0;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
    text-align: center;
}
span:hover{
    background: #edeef0;
}
@media (max-width: 600px) {
    .app {
        width: 460px;
    }
    h1{
        font-size: 24px;
    }
    .header{
        margin-bottom: 9px;
    }
    .main button{
        padding: 12px 31px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .main input{
        width: 90%;
        padding-top: 14px;
        padding-bottom: 13px;
        font-size: 10px;
    }
    .header img{
        width: 30px;
        height: 30px;
    }
    ul li{
        padding: 10px;
    }
    ul li::before{
        top: 4px;
    }
}